h1{
    text-align: center;
    background:blue;
    font-size: 2.1em;
    color: white;
    
}
p{
    text-align: center;
    font-size: 1.3em;
}
@media only screen and (min-width: 768px){
    div.contenedor-imagen{
        width: 32%;
        float: left;
        margin-left: 1%;
        margin-bottom: 1.3em;
    }
    img.imagen{
        width: 95%;
        display: block;
        margin: 0 auto 0 auto;
        border-radius: 5px;
    }
}
@media only screen and (min-width: 1024px){
    div.contenedor-imagen{
        width: 23%;
        float: left;
        margin-left: 1.6%;
        margin-bottom: 1.3em;
    }
    img.imagen{
        width: 95%;
        display: block;
        margin: 0 auto 0 auto;
        border-radius: 5px;
    }
}
@media only screen and (max-width: 767px){
    div.contenedor-imagen{
        width: 90%;
        margin: 0 auto 0 auto;
    }
    img.imagen{
        width: 95%;
        display: block;
        margin: 0 auto 0 auto;
        margin-bottom: 1.3em;
        border-radius: 5px;
    }
}